{% macro top(breadcrumbs, title = false) %}
    {% set breadcrumbs = [{'name': 'Home', 'link': '/'}]|merge(breadcrumbs) %}
    <section class="page-top">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <ul class="breadcrumb">
                        {% for breadcrumb in breadcrumbs %}
                                {% if not loop.last %}
                                    <li>
                                        {% if breadcrumb.link %}
                                            <a href="{{ breadcrumb.link }}">{{ breadcrumb.name }}</a>
                                        {% else %}
                                            {{ breadcrumb.name }}
                                        {% endif %}
                                        <span class="divider">/</span>
                                    </li>
                                {% else %}
                                    <li class="active">{{ breadcrumb.name }}</li>
                                {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <h2>
                        {% if title %}
                            {{ title }}
                        {% elseif block('title') %}
                            {{ block('title') }}
                        {% else %}
                            {{ breadcrumbs[breadcrumbs|length - 1].name }}
                        {% endif %}
                    </h2>
                </div>
            </div>
        </div>
    </section>
{% endmacro %}


{% macro about_people(people) %}
    <ul class="people cards">
        {% for person in people %}
            <li>
                <div class="cover" style="background-image:url({{ person.cover }})">
                    <h1>{{ person.name }}</h1>
                    <h2>{{ person.title }}</h2>
                </div>
                <div class="thumb">
                    <img src="{{ person.picture }}" alt="" />
                </div>
                <div class="info">
                    <div class="description">{{ person.description | raw }}</div>
                </div>

                <ul class="social">
                    {% for account,link in person.social %}
                        <li><a href="{{ link }}" target="_blank"><i class="icon-{{ account }}"></i></a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
